.container-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 30px;
}

.card-produto {
    background-color: #fff8ed;
    border: 2px solid #ffefd7;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 2px 2px 8px rgba(180, 174, 174, 0.1);
}

.card-produto:hover {
    transform: scale(1.03);
}

.card-produto img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-produto h3 {
    font-size: 20px;
    color: #4e2e0f;
}

.card-produto p {
    font-size: 16px;
    color: #6b4c1d;
    margin: 8px 0;
}
