/*carrinho de compras*/
:root{
    --color01: #FFE9A3; 
    --color02: #A4C994;
    --color03: #634A1A; 
    --color04: #452409;
    --color05: #1C150A; 
    }
    
.carrinho-de-compras{
    margin:80px auto;

}
table{
    width: 100%;
    border-collapse: collapse;
}
.carrinho-info{
    display: flex;
    flex-wrap: wrap;

}
th{
    background-color: var(--color02);
    color: var(--color05);
    text-align: left;
    font-weight: normal;
    padding: 5px;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: var(--color05);
    font-size: 12px;

}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.valor-total{
    display: flex;
    justify-content: flex-end;
}
.valor-total table{
    border-top: 3px solid var(--color02);
    width: 100%;
    max-width: 445px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.carrinho-info p{
    display: none;
}
.botao-finalizar {
    display: inline-block;
    background-color: #870000;
    color: #fff;
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.botao-finalizar:hover {
    background-color:var(--color05);
}
.valor-total {
    text-align: center;
    margin-top: 30px;
}
.botao-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
    gap: 20px;
    padding-left: 40px;
}

.botao-finalizar {
    display:block;
    padding-left:100px;
    align-items: right;
    background-color:  #870000;
    color: #fff;
    padding: 12px 30px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
    
}

.botao-finalizar:hover {
    background-color: var(--color05);
}

