:root{
    --color01: #FFE9A3; 
    --color02: #A4C994;
    --color03: #634A1A; 
    --color04: #452409;
    --color05: #1C150A; 
    }
body{
    background: radial-gradient(var(--color02),#fff);
}
.minha-conta{
    padding: 50px 0;
    
}
.formulario{
    position: relative;
    padding: 20px 0;
    text-align: center;
    width: 300px;
    height: 400px;
    margin: auto;
    background: var(--color02);
    box-shadow: 30px 0 20px 0 rgba(0,0, 0, 0,1);
    overflow: hidden;
    
}
.formulario span{
    display: inline-block;
    width: 100px;
    padding: 0 10px;
    font-weight: bold;
    color: #1C150A;
    cursor: pointer;
}
.botao-formulario{
    display: inline-block;
}
.formulario form{
    position:absolute;
    top: 110px;
    max-width: 300px;
    padding: 0 20px;
    transition: transform 1s;

}
.formulario form input{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid var(--color05);
    border: 3px;
}
.formulario form .botao{
    width: 100%;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: var(--color05);
    cursor: pointer;
}
.formulario form .botao:hover{
    background-color: #FFE9A3;
}
.formulario form a{
    font-size: 12px;
    text-decoration:none;
    color: var(--color05);
    cursor: pointer;
}
#EntrarPainel{
    left: -300px;
}
#CadastroSite{
    left: 0;
}
#Indicador{
    width: 100px;
    height: 3px;
    border: none;
    background-color: #1C150A;
    margin-top: 8px;
    transform: translateX(100px);
    transition:  transform 1s;
}